<!-- <div class="banner">
  <div class="spacer"></div>
  <span>Train Line Manager</span>
  <img src="assets/train_icon.svg" height="24" width="24" />

  <span>{{ user.lastName }}</span>
</div> -->

<mat-tab-group backgroundColor="accent" >
  <mat-tab label="Train list"><app-list></app-list></mat-tab>
  <mat-tab label="Destination List"><app-destination-list></app-destination-list></mat-tab>
  <mat-tab label="Third">app-list</mat-tab>
</mat-tab-group>

<!-- <a>List</a>

<nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-align-tabs="center">
  <a mat-tab-link  routerLink="/list"
 > List</a>
  <a mat-tab-link disabled>Disabled Link</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel> -->
